@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(https://fonts.googleapis.com/css?family=Signika:400,600);
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

h1 {
  font-size: 45px;
  color: #ffffff;
  font-family: "Raleway", system-ui;
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 45px;
  color: #222222;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

#header_section {
  position: fixed;
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-family: "Agbalumo", system-ui;
  margin: 0;
  padding: 0;
  margin-top: -.5rem;
}
.logo a {
  text-decoration: none;
}

.navbar {
  font-size: 1.4rem;
}

a.nav-link:hover {
  color: red !important;
}

.home_wrapper {
  background: #5db59c;
  position: relative;
  background: url(../img/slide-0.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 6%;
}

.home_text {
  font-size: 22px;
  color: #ffffff;
  background: rgba(39, 143, 228, 0.303);
  padding: 16px 32px;
  margin: 0 200px;
}

/*
   Media Queries
--------------------------- */
@media (min-width: 768px) and (max-width: 1200px) {
  .aboutUs-container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 59%;
    background-position-y: 150px;
  }
}
@media (max-width: 575px) {
  .aboutUs-container {
    background-image: none;
  }

  .logo {
    margin: .0rem 0 .4rem 0;
  }

  p {
    font-size: 14px;
  }

  .home_wrapper {
    padding-top: 22%;
  }

  .home_section {
    position: relative;
    padding-top: 10px;
  }
  .home_text {
    font-size: 16px;
    color: #ffffff;
    background: rgba(39, 143, 228, 0.303);
    padding: 16px 32px;
    margin: 0;
  }

  .avatar {
    width: 200px;
  }

  h1 {
    font-size: 28px;
    color: #fff;
    line-height: 34px;
    margin: 0 0 9px 0;
  }

  #aboutUs img {
    margin-bottom: 20px;
  }
  #aboutUs h3 {
    font-size: 26px;
    line-height: 22px;
  }
  .service_block h3 {
    font-size: 16px;
  }
  service_block p {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 20px;
  }
  #filters ul {
    padding-left: 0px;
  }
  .form {
    margin: 0 18px;
  }
  .page_section.team {
    padding: 40px 0;
  }
  ,
  #clients {
    padding: 40px 0;
  }
  .client_logos ul li {
    display: inline;
    margin: 0 25px;
    padding: 11px 0;
    display: inline-block;
  }
  .social_links li {
    float: left;
  }
  .contact_section {
    margin: 0;
  }
  h2,
  .contact_section h2 {
    font-size: 30px;
  }
  .page_section.contact {
    padding: 20px 0 30px;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background: #3498db;
  }
  .navbar-inverse .navbar-toggle {
    border-color: transparent;
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background: none;
    outline: none;
  }
  .navStyle ul li {
    display: block;
  }
  .navStyle {
    float: right;
    width: 100%;
    text-align: center;
  }
  .navStyle ul li:last-child {
    margin: 0px;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #222;
    background: #f9f9f9;
  }
}
@media (max-width: 480px) {
  .team_area {
    width: 99%;
  }
}
