@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(https://fonts.googleapis.com/css?family=Signika:400,600);
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

#header_section {
  position: fixed;
  z-index: 1000;
}

#home_section {
  background: url(../img/slide-0.jpg) center no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 30px;
}


#workhistory_section {
  background: rgba(98, 238, 203, 1);
  padding: 20px 0;
  scroll-margin-top: 65px;
}

#projects_section {
  background: rgba(245, 3, 3, 1);
  color: #ffffff;
  padding: 30px 0;
  scroll-margin-top: 65px;
}

#projects_page {
  background: rgba(245, 3, 3, 1);
  color: #ffffff;
  padding: 70px 0;
  scroll-margin-top: 65px;
}

#projects_page a {
  font-weight: 900;
  font-style: normal;
}

#projects_page .col {
  align-content:center;
}



p {
  font-size: 20px;
}

h1 {
  padding: 1rem 0;
  font-size: 62px;
  line-height: 72px;
  color: #ffffff;
  font-family: "Raleway", system-ui;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: .3rem 0;
}

.logo {
  font-size: 1.8rem;
  font-family: "Agbalumo", system-ui;
  margin: 0;
  padding: 0;
  margin-top: -0.5rem;
}

.logo a {
  text-decoration: none;
}

.navbar {
  font-size: 1.4rem;
}

a.nav-link:hover {
  color: red !important;
}

.green {
  color: #5db59c;
}

.avatar {
  height: 25vh;
}

.home_text {
  font-size: 26px;
  color: #ffffff;
  background: rgba(30, 115, 184, 0.7);
  padding: 16px 32px;
  margin: 0 30px;
}


.card {
  color: #000000;
  margin-bottom: 1rem;
}

.card-title {
  font-family: "Raleway", system-ui;
  font-size: 2rem;
  font-weight: 900;
  padding-top: .5rem;
}

#footer {
  background: rgba(22, 22, 22, 0.856);
  color: #ffffff;
  padding: 0.7rem;
  text-align: center;
}

/*
   Media Queries
--------------------------- */

@media (max-width: 1200px) {
  h1 {
    font-size: 52px;
    line-height: 62px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 42px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }

  h2 {
    font-size: 22px;
  }

  .logo {
    margin: 0rem 0 0.4rem 0;
  }

  p {
    font-size: 18px;
  }

  .home_text {
    font-size: 22px;
    colosr: #ffffff;
    padding: 10px 16px;
    margin: 0px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  #aboutUs img {
    margin-bottom: 20px;
  }

  #aboutUs h3 {
    font-size: 26px;
    line-height: 22px;
  }

  .service_block h3 {
    font-size: 16px;
  }

  service_block p {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 20px;
  }


  .form {
    margin: 0 18px;
  }

  .page_section.team {
    padding: 40px 0;
  }


  .page_section.contact {
    padding: 20px 0 30px;
  }

  .navbar-inverse .navbar-toggle .icon-bar {
    background: #3498db;
  }

  .navbar-inverse .navbar-toggle {
    border-color: transparent;
  }

  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background: none;
    outline: none;
  }

  .navStyle ul li {
    display: block;
  }

  .navStyle {
    float: right;
    width: 100%;
    text-align: center;
  }

  .navStyle ul li:last-child {
    margin: 0px;
  }

  .navbar-inverse .navbar-nav>li>a {
    color: #222;
    background: #f9f9f9;
  }
}